@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Italic';
    font-weight: 400;
    src: url('fonts/poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Italic';
    font-weight: 700;
    src: url('fonts/poppins/Poppins-BoldItalic.ttf');
}